$between-slides-color: #F1EFA5;
$background-color: #554236;

$h1-color: #60B99A;
$h2-color: #F77825;
$h3-color: #D3CE3D;
$h4-color: #D3CE3D;
//$p-color: ;
//$blockquote-color: ;
$a-color: #F77825;
$a-hover-color: #60B99A;

html {
  font-size: 20px;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $between-slides-color;
}

.keydown.deck-container {
  .slide {
    background-color: $background-color;
  }

  h1 {
    font-size: 4.5rem;
    font-weight: 600;
    color: $h1-color;

    &.section-header {
      color: $a-hover-color;
      font-size: 6rem;
    }
  }
  h2 {
    font-size: 3.75rem;
    color: $h2-color;
  }

  h3 {
    font-size: 3rem;
    color: $h3-color;
  }

  h4 {
    font-size: 2.25rem;
    color: $h4-color;
  }

  li {
    font-size: 3rem;
    color: $h1-color;
  }

  p {
    font-size: 2rem;
    color: $h1-color;
  }

  blockquote {
    font-style: italic;
    padding: 1em 2em;
    border-left: 5px solid $a-hover-color;

    p {
      margin: 0;
      font-size: 3rem;
    }

    cite {
      font-size: 2rem;
      font-style: normal;
      font-weight: 700;
    }
  }


  a, a:hover, a:focus, a:active, a:visited {
    color: $a-color;
    text-decoration: none;
  }

   a:hover, a:focus {
    color: $a-hover-color;
    text-decoration: underline;
  }
}

